<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello, Dfp User!</title>
    <link th:href="@{/css/hello-skyliner.css}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <a href="https://www.skyliner.io/">
      <img th:src="@{/images/logo.svg}" id="logo"/>
    </a>
    <img th:src="@{/images/headline.svg}" id="headline"/>
    <p>
      You&rsquo;ve successfully deployed your first Spirng boot application with dfp cloud plateform!
      You can modify the code in this repository to build your app.
    </p>
  
  </body>
</html>
